//font-weight
$extraBoldWeight: 700;
$boldWeight: 600;
$normalWeight: 400;
$lightWeight: 200;

//color
$white: #fff;
$lightGray: #bbb;
$black: #333;
$gray: #999;
$pointGreen: #5cb8b2;

//path
$imagePath: '~@/assets/images/common/';


