// slide
.slider-area {
  position: relative;

  .swiper-slide {
    a {
      display: block;
      height: 100%;
    }
  }

  .swiper-pagination-bullet {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 2px !important;
    opacity: .6;
    background: #fff;
    vertical-align: top;
    border-radius: 3px;

    &.swiper-pagination-bullet-active {
      opacity: 1;
      width: 10px;
    }
  }

  .swiper-pagination-fraction.btn-banner {
    @include sp-comm(0, -569px);
    left: auto;
    right: 24px;
    bottom: 9px;
    width: 66px;
    height: 22px;
    padding: 2px 22px 0 6px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: .43px;
    color: rgba(255, 255, 255, .5);
  }

  // banner popup
  .btn-banner-pop {
    position: absolute;
    right: 24px;
    bottom: 9px;
    z-index: 10;
    width: 66px;
    height: 22px;
    opacity: .5;
  }

  .pop-banner {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    max-width: 750px;
    margin: 0 auto;
    background: rgba(0, 0, 0, .5);

    .btn-close-area {
      position: fixed;
      top: 20px;
      left: 0;
      right: 0;
      max-width: 750px;
      height: 0;
      margin: 0 auto;
    }

    .btn-close-pop {
      @include sp-comm(-21px, -323px);
      float: right;
      width: 24px;
      height: 24px;
      margin-right: 20px;
    }

    .banner-list {
      padding: 5px 15px 15px;
      text-align: center;
    }

    .banner {
      margin-top: 10px;
    }
  }
}

