.quick-menu-area .list-menu {
  @include clearfix;
  margin: 0 11px;

  li {
    position: relative;
    float: left;
    width: 20%;
    margin-top: 22px;
    text-align: center;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 40px;
      background: #eee;
      content: "";
    }

    &:first-child:after,
    &:nth-child(6):after {
      display: none;
    }

    a {
      display: block;
      height: 100%;
      font-size: 12px;
      line-height: 1;
      color: $black;
    }

    img {
      display: inline-block;
      width: 50px;
      height: 50px;
    }

    .title {
      @include elipsis;
      display: block;
      margin-top: 2px;
      white-space: nowrap;
    }
  }
}
